# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r
language: r
sudo: false
cache: packages

addons:
  apt:
    sources:
    - sourceline: 'ppa:opencpu/imagemagick'
    packages:
    - libmagick++-dev

r:
  - bioc-devel

warnings_are_errors: true

script:
  - Rscript -e "sessionInfo(); options(error=traceback); library(devtools); devtools::check()"

r_github_packages:
  - r-lib/covr

after_success:
  - Rscript -e 'covr::codecov()'

notifications:
  email:
    on_success: always
    on_failure: always
